:root {
  color-scheme: light dark;
  --primary-color: light-dark(#333, #fafafa);
  --bg-color: light-dark(#e4e4e4, #121212);
}

.givewp-donation-form[data-theme='light'] {
  color-scheme: light;
}

.givewp-donation-form[data-theme='dark'] {
  color-scheme: dark;
}

.givewp-layouts-header {
  background-color: var(--bg-color);
}

.givewp-fields-amount__level--selected {
  background-color: var(--bg-color);
  color: var(--primary-color);
}

/* Switch styles */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  cursor: pointer;
}

div.toggle-container {
  position: absolute;
  right: 10px;
  top: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: background-color 0.4s ease;
  border-radius: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  border-radius: 50%;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: transform 0.4s ease;
}

/* Dark Mode styles */
input:checked + .slider {
  background-color: #000000;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Toggle Text */
#toggle-status {
  margin-top: 10px;
  font-size: 1rem;
  font-weight: bold;
  color: #333;
  transition: color 0.4s ease;
}

/* Dark Mode Text */
input:checked ~ #toggle-status {
  color: #fff;
}